<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="competition.mapper.CalendarMapper">
	<insert id="addCalendar" parameterType="competition.domain.Calendar">
		insert into calendar_db(startDate, endDate, content) 
			values(#{startDate}, #{endDate}, #{content})
	</insert>

	<update id="modifyCalendar" parameterType="competition.domain.Calendar">
		update calendar_db set
		startDate = #{startDate},
		endDate = #{endDate},
		content = #{content}
		where calendarId = #{calendarId}
	</update>
	
	<delete id="removeCalendar" parameterType="int">
		delete from
		calendar_db
		where calendarId = #{calendarId}
	</delete>

	<select id="findCalendars" resultType="competition.domain.view.CalendarView">
		select *
		from calendar_db
		where 
		(startDate &gt;= #{startDate} and startDate &lt;= #{endDate}) or
		(endDate &gt;= #{startDate} and endDate &lt;= #{endDate}) or
		(#{startDate} &gt;= startDate and #{startDate} &lt;= endDate) or
		(#{endDate} &gt;= startDate and #{endDate} &lt;= endDate)
	</select>

	<select id="getCalendar" resultType="competition.domain.view.CalendarView">
		select *
		from calendar_db
		where calendarId = #{calendarId}
	</select>
</mapper> 
