<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="competition.mapper.CommentMapper">
	<insert id="addComment" parameterType="competition.domain.Comment">
		insert into comment_db(articleId, writerId, content, writtenDate, parentCommentId, distance, step)
		values(#{articleId}, #{writerId}, #{content}, #{writtenDate}, #{parentCommentId}, #{distance}, #{step})
	</insert>

	<delete id="removeComment" parameterType="int">
		delete from comment_db
		where commentId = #{commentId}
	</delete>

	<update id="modifyComment" parameterType="competition.domain.Comment">
		update comment_db
		set articleId = #{articleId},
		writerId = #{writerId},
		content = #{content},
		writtenDate = #{writtenDate},
		parentCommentId = #{parentCommentId},
		distance = #{distance},
		step = #{step}
		where commentId = #{commentId}
	</update>
	
	<select id="getComment" parameterType="int" resultType="competition.domain.view.CommentView">
		select *
		from comment_db
		where commentId = #{commentId}
	</select>

	<select id="findComments" parameterType="int" resultType="competition.domain.view.CommentView">
		select * 
		from comment_db
		where articleId = #{articleId}
	</select>
	
	<select id="findBoardComments" parameterType="int" resultType="competition.domain.view.CommentView">
		select c1.commentId commentId, c1.articleId articleId, c1.writerId writerId, c1.content content, c1.writtenDate writtenDate, a1.title title
		from article_db a1 join comment_db c1
		on a1.articleId = c1.articleId
		where 1
		<if test="boardCodeId != 0">
		and a1.boardCodeId = #{boardCodeId}
		</if>
		<if test="isShare != 0">
		and a1.isShare = #{isShare}
		</if>
		order by a1.articleId
	</select>
</mapper> 
