<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="competition.mapper.FileMapper">
	<insert id="addFile" parameterType="competition.domain.File">
		insert into file_db(fileName, fileSize, fileType, fileDate, fileUrl, articleId, userId, isArticle)
		values(#{fileName}, #{fileSize}, #{fileType}, #{fileDate}, #{fileUrl}, #{articleId}, #{userId}, #{isArticle})
	</insert>

	<delete id="removeFile" parameterType="int">
		delete from file_db
		where fileId = #{fileId}
	</delete>

	<select id="getFile" parameterType="int" resultType="competition.domain.view.FileView">
		select *
		from file_db
		where fileId = #{fileId}
	</select>

	<select id="findFiles" parameterType="int" resultType="competition.domain.view.FileView">
		select *
		from file_db
		where articleId = #{articleId}
			and isArticle = #{isArticle}
			<if test="userId != null">
				and userId = #{userId}
			</if> 
	</select>
</mapper> 
