

@article-background: white;
.write {
	background-color: @article-background;
	.title {
	}
}

.read {
	background-color: @article-background;
	
	.read-header {
		.panel-title {
			text-align: left;
		}	
	}

	.read-content {
		padding-top: 10px;
	}

	.read-comment {
		margin-top: 10px;
		border-top: 3px solid #eee;
	}
}

