@board-background: white;
.board {
	background-color: @board-background;
	.board-content {
		table tr th:nth-of-type(2) {
			width: 65%;
		}
	}

	.board-menu {
		div {
			display: inline-block;
		}

		.board-search {
		}

		.board-page-list {
			margin-left: 6%;
			ul {
				display: inline;
			}
		}

		.board-write {
		}

		.auto {
		}
	}
}

