
@comment-background: white;
@comment-modify: #eee;
.comment {
	textarea {
		border: 1px solid #ccc;
	}

	.comment-header {
		
		input[type="submit"] {
			color: #fff;
			background-color: #00294a;
		}
	}

	.comment-content {
		background-color: @comment-background;
		div {
			h5 {
				font-weight: bold;
				small {
					padding-left: 10px;
					font-size: 11px;
				}				
			}
			
			button {
				color: #fff;
				background-color: #00294a;
			}
			p {
				
			}
			a {
				color: #fff;
				background-color: #cfcfcf;
			}

			.comment-modify {				
				padding-top: 5px;
				
				input[type="submit"] {
					
					color: #fff;
					background-color: #00294a;
				}
			}
		}
	}
}

