
@body-background: #eee;
@container-background: #eee;
@header-height: 150px;
@header-background-color: white;
@menu-background-color: white;
@content-background-color: white;
@footer-height: 100px;
@footer-background-color: white;
@side-gap: 10px;
body {
	background-color: @body-background ! important;
}

* {
	color: #444 ! important;
}

.btn {
	border-width: 2px ! important;
	border-color: #ffe ! important;
}

.container {
	margin-top: 30px;
	margin-bottom: 30px;
	.header {
		margin-bottom: @side-gap;
		height: @header-height;
		background-color: @header-background-color;
		.main-title {
			display: inline-block;
			margin-top: 40px;
			margin-left: 40px;
			font-size: 200%;
		}

		.box-link {
		}

		.box-login {
		}

		.box-register {
		}
		.box-name {
			line-height: 1.8em;	
			font-size: 12px;
			margin-right: 5px;			
		}
	}

	.menu {
		margin-bottom: @side-gap;
		background-color: @menu-background-color;
		.box-menu {
			li a {
				color: black;
			}
		}
	}

	.content {
		padding: 3%;
		background-color: @content-background-color;
		margin-bottom: @side-gap;
		h4 {
			text-align: center;
			padding-bottom: 15px;
			border-bottom: 2px solid #b0b0b0;
		}
	}

	.footer {
		padding: 2%;
		height: @footer-height;
		background-color: @footer-background-color;
		div:nth-of-type(1) {
			float: left;
			padding-right: 20px;
		}

		div:nth-of-type(2) {
			font: normal 9pt arial;
			color: #666;
			margin-top: 15px;
		}

		div:nth-of-type(3) {
			font: normal 9pt arial;
			color: #aaa;
			margin-top: 5px;
		}
	}
}

